// Colors
$colorBlack: #121212;
$colorWhite: #ffffff;
$colorGrey: #d6d5d4;
$colorGreyDk: #716f6c;
$colorRed: #ff0000;
$colorGreen: #008800;
$colorOrange: #ffaa00;
$colorGold: #9b8168;

$colorText: $colorBlack;
$colorBd: #dddddd;
$colorBg: #eeeeee;
$colorLink: $colorBlack;
$colorHover: $colorGold;

$colorFacebook: #3b5998;
$colorTwitter: #1da1f2;
$colorGoogle: #dd4b39;
$colorYoutube: #ff0000;
$colorLinkedIn: #0077b5;
$colorInstagram: #c13584;
$colorPinterest: #bd081c;

// Font
$fontSystem: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, helvetica, arial, sans-serif;
$fontPrimary: 'Montserrat', $fontSystem;
$fontSecondary: $fontPrimary;
$fontSize: calc(100vw / 2880 * 24);
$lineHeight: calc(100vw / 2880 * 42);

// Typography
$typoSpaceVertical: 1.25em;

// Grid
$gridColumns: 18;
$gridGutter: 0;
$rowMainWidth: 2880px;

// Sizing
$xs: 40;
$sm: 53;
$md: 80;
$lg: 160;
$xl: 320;

// Paths
$imgPath: map-get($paths, 'images');
$fontsPath: map-get($paths, 'fonts');

// Transitions
$t: 0.3s;

// SVGs
$svgBullet: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath d='M0 0h4v4H0z'/%3E%3C/svg%3E%0A";
$svgSelect: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 5'%3E%3Cpath d='M10 0L5 5 0 0'/%3E%3C/svg%3E%0A";
