{% extends '@layout/layout.twig' %}
{% set pageTitle = 'Homepage' %}
{% set isHomepage = true %}
{% set isSecondary = true %}

{% block content %}

	<main id="main" class="main main--hp">
		<header class="b-intro-hp" data-parallax-section>

			<h1 class="u-vhide">Alpi Collection</h1>

			<?php
				// var_dump($global_settings);
				if ($page['slider'] && count($page['slider']) > 0) {

					if ($page['slider'] && count($page['slider']) > 1) echo '<div class="l-carousel slider" data-component="Slider" data-type="fade" data-local-pausing=".btn">';

						foreach ($page['slider'] as $key => $slide) {

				?>

				<div class="slider__slide" data-ref="Slider.slide">
					<?php
						if ($slide['image']) {
							createImage($slide['image']);
						}
					?>

					<div class="b-intro-hp__content" data-parallax-section-text>
						<div class="grid">
							<div class="grid__cell size--14-18 size--9-18@md push--2-18 push--3-18@md">
								<?php if ($slide['headline']): ?>
									<h2 class="h1"><?= $slide['headline'] ?></h2>
								<?php endif ?>
								<?php
									if ($slide['button_text'] && $slide['button_link']) {
								?>
								<p class="b-intro-hp__btn">
									<a href="<?= $slide['button_link'] ?>" class="btn btn--white btn--width">
										<span class="btn__text"><?= $slide['button_text'] ?></span>
									</a>
								</p>
								<?php
									}
								?>
							</div>
						</div>
					</div>
				</div>

				<?php
						}
						if ($page['slider'] && count($page['slider']) > 1) echo '
							<div class="slider__counter" data-ref="Slider.counter"></div>
							<div class="slider__timer" data-ref="Slider.timer"></div>
						</div>';
					}
				?>

		</header>

		<div class="grid">
			<?php if ($page['content']) { ?>
			<div class="grid__cell size--14-18 size--12-18@md push--2-18 push--3-18@md">
				<div class="b-annot-hp" data-parallax-text>
					<?= $page['content'] ?>
				</div>
			</div>
			<?php } ?>

			<?php
				$className = array(
					'grid__cell size--8-18@md push--1-18@md',
					'grid__cell size--16-18 size--6-18@md push--2-18 push--1-18@md',
					'grid__cell size--12-18@md push--4-18@md',
				);
			?>
			<?php if (count($page['products']) > 0): ?>
			<?php foreach ($page['products'] as $key => $product): ?>
				<div class="<?= $className[$key % count($className)] ?>" data-parallax-text>
					<div class="b-media-hp">
						<a href="<?=url($page['products_link']);?>">
						<?php
							createImage($product);
						?>
						</a>
					</div>
				</div>
			<?php endforeach ?>
			<div class="grid__cell size--14-18 push--2-18 size--12-18@md push--4-18@md" data-parallax-text>
				<p class="b-btn-hp">
					<a href="<?= url($global_settings['products_link']) ?>" class="btn btn--width">
						<span class="btn__text">
							Zobrazit více produktů
						</span>
					</a>
				</p>
			</div>
			<?php endif ?>
		</div>

		<?php if (isset($global_settings['collection_cta']) && ($global_settings['collection_cta']['text'] || $global_settings['collection_cta']['button'])): ?>
		<div class="b-hero-hp" data-parallax-text>
			<div class="b-hero-hp__bg" style="background-image: url('{{ assets.images }}illust/homepage/hero.jpg')"></div>
			<div class="b-hero-hp__wrap">
				<div class="grid">
					<div class="grid__cell size--14-18 size--6-18@md size--5-18@xl push--2-18">
						<p class="b-hero-hp__flag flag">
							O nás
						</p>
						<?php if ($global_settings['collection_cta']['text']): ?>
						<h2 class="b-hero-hp__title">
							<?= $global_settings['collection_cta']['text'] ?>
						</h2>
						<?php endif ?>
						<?php if ($global_settings['collection_cta']['button']): ?>
						<p class="b-hero-hp__btn">
							<a href="<?=url($global_settings['collection_cta']['page']);?>" class="btn btn--width btn--white">
								<span class="btn__text"><?= $global_settings['collection_cta']['button'] ?></span>
							</a>
						</p>
						<?php endif ?>
					</div>
				</div>
			</div>
		</div>
		<?php endif ?>


		<div class="grid">
			<?php if (isset($global_settings['showroom_cta']) && ($global_settings['showroom_cta']['text'] || $global_settings['showroom_cta']['button'])): ?>
			<div class="grid__cell grid__cell--eq size--14-18 size--6-18@md size--7-18@xxl push--2-18">
				<div class="b-cta-hp" data-parallax-text>
					<p class="b-cta-hp__flag flag">
						Kontakt
					</p>
					<?php if ($global_settings['showroom_cta']['text']): ?>
					<h2 class="b-cta-hp__title">
						<?= $global_settings['showroom_cta']['text'] ?>
					</h2>
					<?php endif ?>
					<?php if ($global_settings['showroom_cta']['button']): ?>
					<p class="b-cta-hp__btn">
						<a href="<?= url($global_settings['showroom_cta']['page']) ?>" class="btn btn--width">
							<span class="btn__text">
								<?= $global_settings['showroom_cta']['button'] ?>
							</span>
						</a>
					</p>
					<?php endif ?>
				</div>
			</div>
			<?php endif ?>

			<?php if (isset($global_settings['subscribe_cta']) && ($global_settings['subscribe_cta']['text'] || $global_settings['subscribe_cta']['button'])): ?>
			<div class="grid__cell grid__cell--eq size--14-18 size--6-18@md size--7-18@xxl push--2-18">
				<div class="b-cta-hp" data-parallax-text>
					<p class="b-cta-hp__flag flag">
						Newsletter
					</p>
					<?php if ($global_settings['subscribe_cta']['text']): ?>
					<h2 class="b-cta-hp__title">
						<?= $global_settings['subscribe_cta']['text'] ?>
					</h2>
					<?php endif ?>
					<?php if ($global_settings['subscribe_cta']['button']): ?>
					<p class="b-cta-hp__btn">
						<a href="#" class="btn btn--width">
							<span class="btn__text">
							<?= $global_settings['subscribe_cta']['button'] ?>
							</span>
						</a>
					</p>
					<?php endif ?>
				</div>
			</div>
			<?php endif ?>
		</div>
	</main>

{% endblock %}
