{% extends '@layout/layout.twig' %}
{% set pageTitle = 'About us' %}

{% block content %}

	<?php
		{# var_dump($global_settings);  #}
	?>

	<main id="main" class="main">
		<div class="grid">
			<div class="grid__cell size--12-18 size--9-18@md size--10-18@lg size--7-18@xl push--2-18 push--3-18@md order--1@lg">
				<div class="b-annot-about" data-parallax-text>
					<h1><?= $page['headline'] ?></h1>
				</div>
			</div>
			<?php if (count($page['gallery']) > 0): ?>
			<div class="grid__cell size--13-18@md push--3-18@md order--2@lg">
				<div class="b-media-about" data-parallax-text>
					<?php createMedia($page['gallery']); ?>
				</div>
			</div>
			<?php endif ?>
		</div>

		<?php if (count($page['content']) > 0): ?>
		<?php foreach ($page['content'] as $key => $item): ?>
		<div class="grid">
			<?php if ($key % 2 == 0): ?>
			<div class="grid__cell grid__cell--bottom size--14-18 size--6-18@lg push--2-18 push--1-18@lg push--2-18@xl order--4@lg">
			<?php else: ?>
			<div class="grid__cell grid__cell--middle size--14-18 push--2-18 size--4-18@lg push--3-18@md order--5@lg">
			<?php endif ?>
				<?php if ($item['text']): ?>
				<div class="b-content-about" data-parallax-text>
					<?= $item['text'] ?>
				</div>
				<?php endif ?>
			</div>

			<?php if ($key % 2 == 0): ?>
			<div class="grid__cell grid__cell--bottom size--16-18 push--2-18 size--6-18@lg order--3@lg">
			<?php else: ?>
			<div class="grid__cell push--2-18@md size--8-18@lg push--1-18@lg order--6@lg">
			<?php endif ?>
				<?php if (count($item['images']) > 0): ?>
				<div class="b-media-about-main" data-parallax-text>
					<?php createMedia($item['images']); ?>
				</div>
				<?php endif ?>
			</div>
		</div>
		<?php endforeach ?>
		<?php endif ?>

		<?php if (isset($global_settings['showroom_cta']) && ($global_settings['showroom_cta']['text'] || $global_settings['showroom_cta']['button'])): ?>
		<div class="grid">
			<div class="grid__cell size--14-18 push--2-18 size--7-18@md push--8-18@md order--7@lg">
					<div class="b-cta-about" data-parallax-text>
					<p class="b-cta-about__flag flag">
						Kontakt
					</p>
					<?php if ($global_settings['showroom_cta']['text']): ?>
					<h2 class="b-cta-about__title">
						<?= $global_settings['showroom_cta']['text'] ?>
					</h2>
					<?php endif ?>
					<?php if ($global_settings['showroom_cta']['button']): ?>
					<p class="b-cta-about__btn">
						<a href="<?= url($global_settings['showroom_cta']['page']) ?>" class="btn btn--width">
							<span class="btn__text">
								<?= $global_settings['showroom_cta']['button'] ?>
							</span>
						</a>
					</p>
					<?php endif ?>
				</div>
			</div>
		</div>
		<?php endif ?>
	</main>

{% endblock %}

