{% extends '@layout/layout.twig' %}
{% set pageTitle = 'Detail' %}

{% block content %}

	<main id="main" class="main">
		<div class="grid">
			<div class="grid__cell size--14-18 push--2-18 size--8-18@md push--5-18@md size--6-18@lg push--6-18@lg order--1@md">
				<div class="b-annot-detail" data-parallax-text>
					<h1 class="b-annot-detail__title"><?= $page['name'] ?></h1>
					<?= $page['description'] ?>
				</div>
			</div>


			<?php if (count($page['product_images']) > 0): ?>
			<div class="grid__cell size--12-18 push--3-18 order--2@md">
				<div class="b-slider-detail" data-parallax-text>
					<?php createMedia($page['product_images'], true, true); ?>

					<?php if (count($page['product_images']) > 1): ?>
						<ul class="b-slider-detail__dots">
							<?php foreach ($page['product_images'] as $key => $value ): ?>
							<li>
								<a href="#" class="b-slider-detail__dot <?= ($key == 0 ? 'is-active' : '') ?>"></a>
							</li>
							<?php endforeach; ?>
						</ul>
					<?php endif; ?>
				</div>
			</div>
			<?php endif ?>

			<?php if ($page['dimensions'] || $page['technical_info'] || $page['materials'] || $page['price'] || $page['product_info']): ?>
			<div class="grid__cell size--10-18@lg push--4-18@lg size--8-18@xl push--5-18@xl order--3@md">
				<div class="b-tabs js-tabs" data-parallax-text>
					<ul class="b-tabs__list">
						<?php if ($page['dimensions']): ?>
						<li class="b-tabs__item">
							<a href="#tab-1" class="b-tabs__link js-tabs__link is-active">
								Rozměry
							</a>
						</li>
						<?php endif ?>
						<?php if ($page['technical_info']): ?>
						<li class="b-tabs__item">
							<a href="#tab-2" class="b-tabs__link js-tabs__link">
								Tech. info
							</a>
						</li>
						<?php endif ?>
						<?php if ($page['materials']): ?>
						<li class="b-tabs__item">
							<a href="#tab-3" class="b-tabs__link js-tabs__link">
								Materiály
							</a>
						</li>
						<?php endif ?>
						<?php if ($page['price']): ?>
						<li class="b-tabs__item">
							<a href="#tab-4" class="b-tabs__link js-tabs__link">
								Cena
							</a>
						</li>
						<?php endif ?>
						<?php if ($page['product_info']): ?>
						<li class="b-tabs__item">
							<a href="#tab-5" class="b-tabs__link js-tabs__link">
								Info
							</a>
						</li>
						<?php endif ?>
					</ul>

					<?php if ($page['dimensions']): ?>
					<div id="tab-1" class="b-tabs__fragment js-tabs__fragment is-active">
						<a href="#" class="b-tabs__sublink js-tabs__sublink u-hide@lg">
							Rozměry
						</a>
						<div class="b-tabs__content">
							<?= $page['dimensions'] ?>
						</div>
					</div>
					<?php endif ?>
					<?php if ($page['technical_info']): ?>
					<div id="tab-2" class="b-tabs__fragment js-tabs__fragment">
						<a href="#" class="b-tabs__sublink js-tabs__sublink u-hide@lg">
							Tech. info
						</a>
						<div class="b-tabs__content">
							<?= $page['technical_info'] ?>
						</div>
					</div>
					<?php endif ?>
					<?php if ($page['materials']): ?>
					<div id="tab-3" class="b-tabs__fragment js-tabs__fragment">
						<a href="#" class="b-tabs__sublink js-tabs__sublink u-hide@lg">
							Materiály
						</a>
						<div class="b-tabs__content">
							<?= $page['materials'] ?>
						</div>
					</div>
					<?php endif ?>
					<?php if ($page['price']): ?>
					<div id="tab-4" class="b-tabs__fragment js-tabs__fragment">
						<a href="#" class="b-tabs__sublink js-tabs__sublink u-hide@lg">
							Cena
						</a>
						<div class="b-tabs__content">
							<?= $page['price'] ?>
						</div>
					</div>
					<?php endif ?>
					<?php if ($page['product_info']): ?>
					<div id="tab-5" class="b-tabs__fragment js-tabs__fragment">
						<a href="#" class="b-tabs__sublink js-tabs__sublink u-hide@lg">
							Info
						</a>
						<div class="b-tabs__content">
							<?= $page['product_info'] ?>
						</div>
					</div>
					<?php endif ?>
				</div>
			</div>
			<?php endif ?>


			<?php if (count($page['product_photos']) > 0): ?>
			<div class="grid__cell size--14-18@md push--2-18@md order--4@md">
				<div class="b-media-detail" data-parallax-text>
					<?php createMedia($page['product_photos']); ?>
				</div>
			</div>
			<?php endif ?>

			<div class="grid__cell size--14-18 push--2-18 size--6-18@md push--1-18@md size--3-18@lg push--4-18@lg order--6@md">
				<p class="b-btn-detail">
					<a href="<?= url($global_settings['products_link']) ?>" class="btn btn--width">
						<span class="btn__text">
							Zpět na produkty
						</span>
					</a>
				</p>
			</div>

			<?php if (isset($global_settings['contact_us_cta']) && ($global_settings['contact_us_cta']['text'] || $global_settings['contact_us_cta']['button'])): ?>
			<div class="grid__cell size--14-18 size--7-18@md push--2-18 order--5@md">
				<div class="b-cta-detail">
					<?php if ($global_settings['contact_us_cta']['text']): ?>
					<h2 class="b-cta-detail__title">
						<?= $global_settings['contact_us_cta']['text'] ?>
					</h2>
					<?php endif ?>
					<?php if ($global_settings['contact_us_cta']['button']): ?>
					<p class="b-cta-detail__btn">
						<a href="<?= url($global_settings['contact_us_cta']['page']) ?>" class="btn btn--width">
							<span class="btn__text">
								<?= $global_settings['contact_us_cta']['button'] ?>
							</span>
						</a>
					</p>
					<?php endif ?>
				</div>
			</div>
			<?php endif ?>

		</div>
	</main>

{% endblock %}

