{% extends '@layout/layout.twig' %}
{% set pageTitle = 'Kontakt' %}

{% block content %}

	{# <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<pre>
		<?php
			print_r($page);
		?>
	</pre> #}


	<main id="main" class="main main--contact">
		<div class="row-main">
			<h1 class="u-vhide">Contact</h1>
			<div class="grid grid--middle">
				<div class="grid__cell grid__cell--eq size--14-18 push--2-18 size--7-18@lg size--6-18@xl push--1-18@lg push--2-18@xl">
					<div class="b-contact" data-parallax-text>
						<?php if ($page['headline']): ?>
							<h2 class="b-contact__title"><?= $page['headline'] ?></h2>
						<?php endif ?>

						<?php if (count($page['gallery']) > 0): ?>
						<div class="b-slider-contact  u-hide@lg">
							<?php createMedia($page['gallery']); ?>
						</div>
						<?php endif ?>

						<?php if (count($page['content']) > 0): ?>
						<div class="b-contact__list">
							<?php foreach ($page['content'] as $key => $item): ?>
								<div class="b-contact__item">
									<p class="b-contact__data">
										<?= nl2br($item['text']) ?>
									</p>

									<?php if ($item['button_link']): ?>
										<p class="b-contact__link">
											<?php if ($item['subscribe_button'] == 1): ?>
											<a href="#" class="js-subscribe"><?= $item['button_text'] ?></a>
											<?php else: ?>
											<a href="<?= $item['button_link'] ?>"><?= $item['button_text'] ?></a>
											<?php endif ?>
									</p>
									<?php endif ?>
								</div>
							<?php endforeach ?>
						</div>
						<?php endif ?>

						{#
							subscribe form

						<form action="?" method="post">
							<p class="inp-item inp-item--required <?php if (in_array('email', $formError)):?>has-error<?php endif ?>">
								<label for="mail" class="inp-label u-vhide">
									Fill your email address
								</label>
								<span class="inp-fix">
									<input id="newsletter" name="newsletter" value="<?=$newsletter?>" type="email" class="inp-text" placeholder="name@example.com">
								</span>
							</p>
							<p class="inp-item inp-item--required <?= (in_array('fill', $formError)) ? 'has-error' : 'u-js-hide' ?>">
								<label for="mail" class="inp-label">
									Antispam - fill number 3
								</label>
								<span class="inp-fix">
									<input id="fill" name="fill" value="" type="text" class="inp-text" data-fill="3">
								</span>
							</p>
							<button type="submit" class="btn">
								<span class="btn__text">
									<span class="btn__text-loading">
										<?=__('btn_send');?>
									</span>
									{% include '@components/core/icon-svg/icon-svg.twig' with {
											props: {
												name: 'refresh'
										}
									} %}
								</span>
							</button>
						</form> #}
					</div>
				</div>

				<div class="grid__cell grid__cell--eq size--9-18@lg push--1-18@lg u-hide u-show@lg">
					<?php if (count($page['gallery']) > 0): ?>
					<div class="b-slider-contact" data-parallax-text>
							<?php createMedia($page['gallery']); ?>
						</div>
					<?php endif ?>
				</div>
			</div>
		</div>
	</main>

{% endblock %}
