{% extends '@layout/layout.twig' %}
{% set pageTitle = 'Brands' %}
{% set isSecondary = true %}

{% block content %}

<main id="main" class="main <?php if (!$param_brand): ?>main--hp<?php endif ?>">

	<?php if (!$param_brand): ?>
	<header class="b-intro-brands" data-parallax-section>
		<div class="b-intro-brands__bg">
			<div class="l-carousel slider" data-component="Slider" data-type="fade">


				<?php if ($param_brand && isset($brands['/'. $param_brand])): ?>
					<?php createImage($brands['/'. $param_brand]['page']['brand_image'][0], true, true) ?>
				<?php else: ?>
					<?php createImage($page['images'][0], true, true) ?>
				<?php endif ?>

				<?php foreach ($brandsOrder as $key => $value): ?>
					<?php $item = $brandsByPath[$value]; ?>
					<?php createImage($item['brand_image'][0], true, true); ?>
				<?php endforeach ?>
			</div>
		</div>
		<div class="b-intro-brands__wrap">
			<div class="grid">
				<div class="grid__cell size--14-18 push--2-18 size--6-18@md push--3-18@md" data-parallax-text>
					<h1><?= $page['headline'] ?></h1>
					<div class="b-intro-brands__content">
						<?= $page['content'] ?>
					</div>
				</div>

				<?php if (count($brandsOrder) > 0): ?>
				<div class="grid__cell grid__cell--bottom size--14-18 push--3-18 u-hide u-show@lg">
					<div class="b-tabs-brands" data-parallax-text>
						<ul class="b-tabs-brands__list">
							<?php foreach ($brandsOrder as $key => $value): ?>
							<?php $item = $brandsByPath[$value]; ?>
							<li class="b-tabs-brands__item">
								{# . ($param_type ? ('&type='. $param_type) : '') #}
								<a href="?brand=<?= substr($item['key'], 1)  ?>#detail" class="b-tabs-brands__link <?= ($param_brand == substr($item['key'], 1)) ? 'is-active' : '' ?>" data-page-transition="brandDetail">
									<?= $item['name'] ?>
								</a>
							</li>
							<?php endforeach ?>
						</ul>
					</div>
				</div>
				<?php endif ?>
			</div>
		</div>
	</header>
	<?php endif ?>

	{# <pre>
		<?php
			print_r($brands['/'. $param_brand]);
		?>
	</pre> #}

	<?php if (count($brandsOrder) > 0): ?>
	<div class="grid u-hide@lg">
		<div class="grid__cell size--14-18 push--2-18">
			<section class="c-brands">
				<h2 class="u-vhide">Our brands</h2>
				<div class="c-brands__list grid ">
					<?php foreach ($brandsOrder as $key => $value): ?>
					<?php $item = $brandsByPath[$value]; ?>
					<div class="c-brands__item grid__cell size--9-18@sm">
						<article class="b-brand">
							<div class="b-brand__inner">
								<h2 class="b-brand__title">
									<a href="?brand=<?= substr($item['key'], 1)  ?>#detail" data-page-transition="brandDetail" class="link-mask"><?= $item['name'] ?></a>
								</h2>
							</div>
						</article>
					</div>
					<?php endforeach ?>
				</div>
			</section>
		</div>
	</div>
	<?php endif ?>


	<?php if ($param_brand && isset($brands['/'. $param_brand])): ?>
		<div id="detail"></div>
		<?php
			$page['headline'] = $brands['/'. $param_brand]['page']['name'];
			$page['content'] = $brands['/'. $param_brand]['page']['description']
		?>
		{% include "@components/products.twig" %}

	<?php endif ?>
</main>

{% endblock %}
