{% extends '@layout/layout.twig' %}
{% set pageTitle = 'References' %}

{% block content %}

	<?php
		$className = array(
			'size--12-18@md push--4-18@md',
			'size--8-18@md push--1-18@md',
			'size--17-18 size--6-18@md push--1-18',
			'size--12-18@md push--3-18@md',
			'size--12-18@md push--1-18@md',
			'size--17-18 size--6-18@md push--1-18',
			'size--8-18@md push--1-18@md',
			'size--12-18@md push--3-18@md',
		);
	?>
	{# <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<pre>
		<?php
			print_r($page);
		?>
	</pre> #}

	<main id="main" class="main">
		<div class="grid">
			<div class="grid__cell size--14-18 push--2-18 size--8-18@md push--4-18@md size--6-18@xl">
				<div class="b-annot-references">
					<h1 data-parallax-text><?= $page['headline'] ?></h1>
					<div data-parallax-text>
						<?= $page['content'] ?>
					</div>
				</div>
			</div>
		</div>
		<?php
			$slice = array_slice($page['references'], ($param_page - 1) * $items_per_page, $items_per_page + 1);
			$index = 0;
		?>
		<?php if (count($slice) > 0): ?>
		<div class="grid" data-loadmore-list>
			<?php foreach ($slice as $key => $referece): ?>
			<?php
				$index_with_page = $index + ($param_page - 1) * $items_per_page;

				$index++;
				if ($index > $items_per_page) {
					break;
				}
			?>
			<div class="grid__cell <?= $className[$index_with_page % count($className)] ?>" data-parallax-text>
				<div class="b-media-references">
					<?php createMedia($referece['gallery']); ?>

					<?php if ($referece['reference_note']): ?>
						<p class="b-media-references__note">
							<?= $referece['reference_note'] ?>
						</p>
					<?php endif ?>
				</div>
			</div>
			<?php endforeach ?>
		</div>
		<?php endif ?>
		<div class="grid">
			<?php if (count($slice) > $items_per_page): ?>
			<div class="grid__cell size--14-18 size--12-18@md push--2-18 push--4-18@md" data-loadmore-button>
				<p class="b-btn-references" data-parallax-text>
					<a href="?<?= 'page='. ($param_page + 1) ?>" class="btn btn--width  btn--loader" data-page-transition="loadMore">
						<span class="btn__text">
							<span class="btn__loading">
								Zobrazit více referencí
							</span>
						</span>
					</a>
				</p>
			</div>
			<?php endif; ?>

			<?php if (isset($global_settings['partner_cta']) && ($global_settings['partner_cta']['text'] || $global_settings['partner_cta']['button'])): ?>
			<div class="grid__cell size--14-18 push--2-18 size--7-18@md push--4-18@md" data-parallax-text>
				<div class="b-cta-references">
					<p class="b-cta-references__flag flag">
						Kontakt
					</p>
					<?php if ($global_settings['partner_cta']['text']): ?>
					<h2 class="b-cta-references__title">
						Hledáte partnera pro svůj projekt?
					</h2>
					<?php endif ?>
					<?php if ($global_settings['partner_cta']['button']): ?>
					<p class="b-cta-references__btn">
						<a href="<?= url($global_settings['partner_cta']['page']) ?>" class="btn btn--width">
							<span class="btn__text">
								<?= $global_settings['partner_cta']['button'] ?>
							</span>
						</a>
					</p>
					<?php endif ?>
				</div>
			</div>
			<?php endif ?>
		</div>
	</main>

{% endblock %}
