{% extends '@layout/layout.twig' %}
{% set pageTitle = 'Obecná stránka' %}

{% block content %}

	<main id="main" class="main">
		<div class="grid">
			<div class="grid__cell size--10-18 push--4-18">
				<h1>
					Obecná stránka
				</h1>
				<p>
					Lorem ipsum dolor sit, amet <a href="#">odkaz</a> adipisicing elit. Illo iusto dolor esse odit? Consequuntur quisquam minima deleniti fugit aliquam aliquid, modi odit debitis non! Ipsum deleniti vitae ipsam totam iure.
				</p>
				<p>
					Lorem ipsum dolor sit, amet <a href="#">odkaz</a> adipisicing elit. Illo iusto dolor esse odit? Consequuntur quisquam minima deleniti fugit aliquam aliquid, modi odit debitis non! Ipsum deleniti vitae ipsam totam iure.
				</p>
				<p>
					Lorem ipsum dolor sit, amet <a href="#">odkaz</a> adipisicing elit. Illo iusto dolor esse odit? Consequuntur quisquam minima deleniti fugit aliquam aliquid, modi odit debitis non! Ipsum deleniti vitae ipsam totam iure.
				</p>
				<h2>
					Podnadpis obecné stránky
				</h2>
				<p>
					Lorem ipsum dolor sit, amet <a href="#">odkaz</a> adipisicing elit. Illo iusto dolor esse odit? Consequuntur quisquam minima deleniti fugit aliquam aliquid, modi odit debitis non! Ipsum deleniti vitae ipsam totam iure.
				</p>
				<h1>Nadpis h1</h1>
				<h2>Nadpis h2</h2>
				<h3>Nadpis h3</h3>
				<h4>Nadpis h4</h4>
				<h5>Nadpis h5</h5>
				<h6>Nadpis h6</h6>

				<h2>Buttons</h2>
				<p>
					<a href="#" class="btn">
						<span class="btn__text">
							back to products
						</span>
					</a>
				</p>
			</div>
		</div>
	</main>

{% endblock %}
