.header {
	position: relative;
	z-index: 10;
	transition: color 0.3s linear;
	pointer-events: none;
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 30px 42px 0;
	}
	&__logo {
		position: relative;
		z-index: 2;
		display: block;
		flex-grow: 1;
		margin: 0;
		padding: 0;
		font-family: $fontPrimary;
		font-size: 100%;
		line-height: 1;
		transition: transform 0.9s easeOutCubic;
		a {
			pointer-events: auto;
		}
		svg {
			transition: fill 0.3s linear;
		}
	}
	&__link {
		position: relative;
		z-index: 2;
		font-weight: bold;
		font-size: 12px;
		text-transform: uppercase;
		text-decoration: none;
		transition: color 0.5s linear;
		pointer-events: auto;
	}

	// MODIF
	&--secondary,
	&--secondary &__link {
		color: $colorWhite;
	}
	&--secondary &__logo svg {
		fill: $colorWhite;
	}

	// MEDIA QUERIES
	@media ($smUp) {
		// STATES
		.menu-open &__logo {
			transform: translateX((400 * -1px));
		}
	}
	@media ($mdUp) {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 10;
		&__link {
			font-size: 15px;
		}
	}
	@media ($xxlUp) {
		&__inner {
			padding: ($md / 24) + rem (75 / 24) + rem 0 (90 / 24) + rem;
			&::before {
				bottom: -40px;
			}
		}
		&__logo {
			img,
			svg {
				width: (246 / 24) + rem;
				height: (135 / 24) + rem;
				fill: currentColor;
			}
		}
		&__link {
			font-size: 1rem;
		}

		// STATES
		.menu-open &__logo {
			transform: translateX((800 / 24 * -1rem));
		}
	}
}
