html {
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
body {
	position: relative;
	min-width: 320px;
	height: 100%;
}
:first-child {
	margin-top: 0;
}

// @import 'mother';
@import 'header';
@import 'footer';
@import 'main';
@import 'navigation';

.page {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	transition: opacity 0.6s ease-out;
	.js & {
		opacity: 0;
		&.is-page-visible {
			opacity: 1;
		}
		&.is-leaving {
			opacity: 0;
			pointer-events: none;
		}
	}
}

.is-scrolled {
	.header__inner {
		&::before {
			opacity: 1;
		}
	}
}
