.main {
	// max-width: 2880px;
	// margin: 0 auto;
	padding-top: 105px;
	background: $colorWhite;

	// VARIANTS
	&--hp {
		padding-top: 0;
	}

	// hack pro zamezeni scrollovani stranky navic skrz najizdeci animace
	> .grid {
		overflow: hidden;
	}

	// MEDIA QUERIES
	@media ($smUp) {
		transition: transform 0.9s easeOutCubic;

		// STATES
		.menu-open & {
			transform: translateX((400 * -0.75px));
		}
	}

	@media ($lgUp) {
		&--contact {
			padding-top: 125px;
			.row-main {
				background: $colorWhite;
			}
		}
	}

	@media ($xxlUp) {
		padding-top: (214 / 24) + rem;
		&--hp {
			padding-top: 0;
		}
		&--contact {
			padding-top: (294 / 24) + rem;
		}

		// STATES
		.menu-open & {
			transform: translateX((800 / 24 * -0.75rem));
		}
	}
}
