.navigation {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	width: 100%;
	overflow: hidden;
	visibility: hidden;
	pointer-events: auto;
	&__holder {
		position: relative;
		height: 100%;
		transition: transform 0.9s easeOutCubic;
	}
	&__inner {
		height: 100%;
		margin: 0 0 0 auto;
		background-color: $colorGold;
		font-weight: 500;
		font-size: 18px;
		line-height: 20px;
		overflow-x: hidden;
		overflow-y: auto;
		visibility: visible;
		transform: translateX(100%);
		transition: transform 0.9s easeOutCubic;
		> :last-child {
			margin-bottom: 0;
		}
	}
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 50px;
	}
	&__wrap {
		height: 100%;
		padding: 50px 35px 35px;
	}
	&__logo {
		display: block;
		padding: 0;
		font-family: $fontPrimary;
		font-size: 100%;
		line-height: 1;
	}
	&__close {
		color: $colorWhite;
		font-size: 12px;
		text-transform: uppercase;
		text-decoration: none;
	}
	&__subscribe,
	&__socials {
		// same animation like .m-main__item
		opacity: 0;
		transform: translateX(100px);
		transition: transform 0.01s easeOutCubic 0.5s, opacity 0.01s linear 0.5s;
	}
	&__link {
		font-size: 12px;
		text-transform: uppercase;
	}

	// MODIFICATIONS
	&[data-mobile-submenu-depth='2'] &__holder {
		transform: translateX(-100%) translateX(-20px);
	}
	&__wrap--depth-1 {
		padding-top: 25px;
	}
	&__wrap--depth-2 {
		position: absolute;
		top: 0;
		left: calc(100% + 20px);
		width: 100%;
	}

	// STATES
	.menu-open &__inner {
		transform: translateX(0);
	}
	.menu-open &__socials,
	.menu-open &__subscribe {
		opacity: 1;
		transform: translateX(0);
		transition-delay: 0s;
		transition-duration: 0.9s;
	}
	.menu-open &__socials {
		transition-delay: 0.4s;
	}
	.menu-open &__subscribe {
		transition-delay: 0.45s;
	}

	// HOVERs
	.hoverevents &__close[href]:hover {
		color: $colorBlack;
	}
	.hoverevents &__link[href]:hover {
		color: $colorWhite;
	}

	// MEDIA QUERIES
	@media ($smUp) {
		max-width: 400px;
	}
	@media ($mdUp) {
		&__wrap--depth-2 {
			display: none;
		}
	}
	@media ($mdDown) {
		&__link {
			display: block;
			max-width: 250px;
			padding: 6px 10px;
			border: 1px solid $colorBlack;
			text-align: center;
			text-decoration: none;
		}
	}
	@media ($xxlUp) {
		max-width: (800 / 24 * 1rem);
		&__wrap {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: (90 / 24) + rem (80 / 24) + rem (150 / 24) + rem (150 / 24) + rem;
		}
		&__logo {
			img {
				width: (105 / 24) + rem;
				height: auto;
			}
		}
		&__close {
			font-size: 1rem;
		}
		&__link {
			font-size: (20 / 24) + rem;
		}
	}
}
