.b-annot-hp {
	margin-bottom: 80px;
	& > :last-child {
		margin-bottom: 0;
	}
	p {
		margin-bottom: 1.5em;
		font-size: 26px;
		line-height: 1;
	}
	@media ($xxlUp) {
		margin-bottom: (($lg + $md) / 24) + rem;
		padding-top: (($xl + $xs) / 24) + rem;
		p {
			font-size: (80 / 24) + rem;
		}
	}
}
