.b-annot-detail {
	margin-bottom: 80px;
	padding-top: 120px;
	@media ($xxlUp) {
		margin-bottom: (($lg + $sm) / 24) + rem;
		padding-top: (($lg + $sm) / 24) + rem;
		&__title {
			margin-bottom: (($md + $sm) / 24) + rem;
		}
	}
}
