.b-brand {
	position: relative;
	&::before {
		content: '';
		display: block;
		padding-top: 100%;
		background: $colorGrey;
	}
	&__inner {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 30px;
	}
	&__title {
		margin: 0;
		text-align: center;
		a {
			color: $colorWhite;
			font-size: 18px;
			text-transform: uppercase;
			text-decoration: none;
		}
	}
}
