.b-btn-hp {
	&#{&} {
		margin: 35px 0 80px;
	}
	@media ($mdUp) {
		width: percentage(6 / 12);
	}
	@media ($lgUp) {
		&#{&} {
			margin: 0 0 80px;
		}
	}
	@media ($xxlUp) {
		width: percentage(3 / 12);
		&#{&} {
			margin-bottom: (($xl + $xs) / 24) + rem;
		}
	}
}
