.b-btn-references {
	overflow-anchor: none;
	&#{&} {
		margin: 35px 0 80px;
	}
	@media ($mdUp) {
		width: percentage(7 / 12);
	}
	@media ($lgUp) {
		width: percentage(6 / 12);
	}
	@media ($xxlUp) {
		width: percentage(3 / 12);
		&#{&} {
			margin: ($xs/24) + rem 0 ($lg/24) + rem;
		}
	}
}
