.b-content-about {
	margin-bottom: 80px;
	& > :last-child {
		margin-bottom: 0;
	}
	h2 {
		margin-bottom: 1.5em;
		margin-bottom: 70px;
		font-size: 26px;
		line-height: 1;
	}
	> *:not(h2) {
		max-width: 640px;
	}
	@media ($xxlUp) {
		margin-bottom: (($xl + $xs) / 24) + rem;

		// p {
		// 	width: percentage(4 / 6);
		// }
		h2 {
			margin-bottom: (($lg + $xs) / 24) + rem;
			font-size: (80 / 24) + rem;
		}
	}
}
