.b-contact {
	margin-bottom: 120px;
	padding-top: 120px;
	&__title {
		margin-bottom: 60px;
	}
	&__list {
		margin: 0 0 -30px -30px;
	}
	&__item {
		display: flex;
		flex-direction: column;
		border: 1px solid transparent;
		border-width: 0 0 30px 30px;
		> :last-child {
			margin-bottom: 0;
		}
	}
	&__data {
		margin-bottom: 1rem;
	}
	&__link {
		margin-top: auto;
		text-transform: uppercase;
	}
	@media ($smUp) {
		&__list {
			display: flex;
			flex-wrap: wrap;
		}
		&__item {
			flex: 0 0 auto;
			width: 50%;
		}
	}
	@media ($xxlUp) {
		margin-bottom: 0;
		padding-top: ($lg / 24) + rem;
		&__title {
			margin-bottom: ($lg / 24) + rem;
		}
		&__list {
			margin: 0 0 (-$lg / 24) + rem -30px;
		}
		&__item {
			border-width: 0 0 ($lg / 24) + rem 30px;
		}
		&__link {
			font-size: (20 / 24) + rem;
		}
	}
}
