.b-cta-products {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 80px;
	& > :last-child {
		margin-bottom: 0;
	}
	&__title {
		margin-top: 0;
	}
	&__btn {
		margin-top: auto;
	}
	@media ($xlDown) {
		&__title {
			margin-bottom: 56px;
		}
	}
	@media ($lgUp) {
		margin-bottom: 200px;
	}
	@media ($xxlUp) {
		margin-bottom: (($xl + $xs) / 24) + rem;
		&__btn {
			width: percentage(3 / 7);
		}
	}
}
