.b-cta-detail {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 120px;
	& > :last-child {
		margin-bottom: 0;
	}
	@media ($lgUp) {
		margin-bottom: 200px;
		&__btn {
			width: percentage(3 / 7);
		}
	}
	@media ($xxlDown) {
		&__title {
			margin-bottom: 60px;
		}
	}
	@media ($xxlUp) {
		margin-bottom: (($xl + $xs) / 24) + rem;
	}
}
