.b-cta-references {
	width: 100%;
	margin-bottom: 12px;
	&__title {
		margin-top: 0;
	}
	@media ($lgDown) {
		&__title {
			margin-bottom: 70px;
		}
	}
	@media ($lgUp) {
		margin-bottom: 200px;
		&__btn {
			width: percentage(6 / 7);
		}
	}
	@media ($xxlUp) {
		margin-bottom: (($lg + $md) / 24) + rem;
		&__btn {
			width: percentage(3 / 7);
		}
	}
}
