.b-cta-about {
	width: 100%;
	margin-bottom: 120px;
	&__title {
		margin-top: 0;
	}
	@media ($lgDown) {
		&__title {
			margin-bottom: 80px;
		}
	}
	@media ($lgUp) {
		margin-bottom: 200px;
		&__btn {
			width: percentage(3 / 7);
		}
	}
	@media ($xxlUp) {
		margin-bottom: (240/ 24) + rem;
	}
}
