.b-filter {
	margin-bottom: 80px;
	line-height: 1.3;
	text-align: center;
	text-transform: uppercase;
	&__list {
		@extend %reset-ul;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	&__item {
		@extend %reset-ul-li;
		flex: 0 0 auto;
		width: percentage(2/12);
		margin-bottom: 40px;
		padding: 0 37px;
	}
	&__link {
		display: block;
		color: $colorGrey;
		text-decoration: none;
	}
	&__icon {
		position: relative;
		display: block;
		margin-bottom: 20px;
		&::before {
			content: '';
			display: block;
			padding-top: 95px;
		}
		.icon-svg {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	&__all a {
		display: block;
		margin-top: ($sm / 24) + rem;
		color: $colorGrey;
	}

	// STATEs
	&__link.is-active,
	&__all .is-active {
		color: $colorBlack;
	}
	@media ($xlDown) {
		&__item {
			padding: 0 14px;
		}
		&__icon {
			.icon-svg {
				max-width: 60px;
				max-height: 40px;
			}
		}
	}

	@media ($xlUp) {
		margin-bottom: (($xl + $xs) / 24) + rem;
		&__all {
			margin-bottom: ($lg / 24) + rem;
			font-size: (30 / 24) + rem;
		}
		&__item {
			margin-bottom: (($lg + $xs) / 24) + rem;
		}
		&__link {
			font-size: (30 / 24) + rem;
		}
		&__icon {
			margin-bottom: (56 / 24) + rem;
			.icon-svg {
				&--sofa {
					width: (150/24) + rem;
				}
				&--chair {
					width: (46/24) + rem;
				}
				&--table {
					width: (128/24) + rem;
				}
				&--sofa-bed-system {
					width: (160/24) + rem;
				}
				&--accessories {
					width: (54/24) + rem;
				}
				&--arm-chair {
					width: (82/24) + rem;
				}
				&--bar-chair {
					width: (52/24) + rem;
				}
				&--bed {
					width: (92/24) + rem;
				}
				&--coffee-table {
					width: (88/24) + rem;
				}
				&--garden-furniture {
					width: (92/24) + rem;
				}
				&--shelf {
					width: (68/24) + rem;
				}
				&--sideboard {
					width: (132/24) + rem;
				}
			}
		}
	}
}
