.b-hero-hp {
	position: relative;
	display: flex;
	align-items: center;
	min-height: 465px;
	margin-bottom: 60px;
	padding: 60px 0;
	color: $colorWhite;
	&__bg {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: #000000;
		background-position: center right;
		background-repeat: no-repeat;
		background-size: cover;
	}
	&__wrap {
		flex: 0 0 auto;
		width: 100%;
	}
	&__title {
		margin-top: 0;
	}
	&__btn {
		margin-bottom: 0;
	}
	&__flag {
		color: #3e3e3e;
	}
	@media ($mdUp) {
		padding: 180px 0;
	}
	@media ($xxlUp) {
		margin-bottom: (($xl + $xs) / 24) + rem;
		padding: (300 / 24) + rem 0;
		&__btn {
			width: percentage(3 / 5);
		}
	}
}
