.b-intro-hp {
	position: relative;
	display: flex;
	align-items: flex-end;
	min-height: 100vh;
	margin-bottom: 120px;
	background: #000000;
	color: $colorWhite;
	overflow: hidden;
	.is-ios &,
	.is-android & {
		min-height: var(--window-height, 100vh);
	}
	&__content {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2;
		display: flex;
		align-items: flex-end;
		padding: 70px 0;
		> * {
			width: 100%;
		}
		&::before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: rgba($colorBlack, 0.15);
		}
	}
	&__btn {
		margin-bottom: 0;
	}
	.b-media,
	.b-media__item {
		height: 100%;
	}
	.slider {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	@media ($mdUp) {
		&__btn {
			width: percentage(6 / 9);
		}
	}
	@media ($xxlUp) {
		margin-bottom: 0;
		&__btn {
			width: percentage(3 / 9);
		}
		&__content {
			padding: (283 / 24) + rem 0;
		}
	}
}
