.b-intro-brands {
	position: relative;
	display: flex;
	align-items: flex-end;
	min-height: 100vh;
	margin-bottom: 60px;
	padding: 130px 0 110px;
	color: $colorWhite;
	overflow: hidden;
	.is-ios &,
	.is-android & {
		min-height: var(--window-height, 100vh);
	}
	.slider,
	.b-media {
		height: 100%;
	}
	.b-media img {
		opacity: 0.55;
	}
	&__bg {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: #000000;
	}
	&__wrap {
		display: flex;
		width: 100%;
	}
	@media ($lgUp) {
		align-items: stretch;
		margin-bottom: 0;
	}
	@media ($xxlUp) {
		padding: ((215 + $lg + $sm) / 24) + rem 0 (($lg + $sm + $xs) / 24) + rem;
		&__content {
			width: percentage(4 / 6);
			margin-bottom: ($lg / 24) + rem;
		}
	}
}
