@import 'keen-slider/keen-slider.min';

.b-media {
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	canvas {
		vertical-align: middle;
		visibility: hidden;
	}
	&__item {
		position: relative;
		width: 100%;
		height: auto;
		opacity: 0;
		@supports (object-fit: cover) {
			opacity: 1;
			object-fit: cover;
		}
	}
	&__item + &__item {
		position: absolute;
		top: 0;
		left: 0;
	}
	&__item--parallax {
		// zpět na 100% výšky obrázku z 90 % vysokého obalu + 1px pro schování rozmazaného půlpixelu
		height: calc(111.111% + 1px);
		transform: translateY(-10%);
	}
}
