.b-product {
	position: relative;
	&__title {
		margin-bottom: 0;
		font-size: 14px;
	}
	&__link {
		font-weight: 300;
		text-decoration: none;
	}
	@media ($xlDown) {
		&__title {
			font-weight: 400;
			text-transform: uppercase;
		}
	}
	@media ($mdUp) {
		&__title {
			font-size: 20px;
		}
	}
	@media ($xxlUp) {
		&__title {
			font-size: (40 / 24) + rem;
		}
	}
}
