.b-slider-detail {
	margin-bottom: 80px;
	.slider__counter,
	.slider__timer {
		display: none;
		opacity: 0;
		pointer-events: none;
	}
	&__dots {
		@extend %reset-ul;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: ($sm / 24) + rem;
		margin-left: -10px;
		li {
			@extend %reset-ul-li;
		}
	}
	&__dot {
		display: block;
		width: (29 / 24) + rem;
		height: (29 / 24) + rem;
		margin-left: 10px;
		border: 2px solid $colorBlack;
		border-radius: 50%;
		text-decoration: none;
		transition: border-color $t, background $t;
	}

	// STATES
	&__dot.is-active {
		background: $colorBlack;
	}
	&__dot:hover {
		border-color: $colorGold;
	}
	&__dot.is-active:hover {
		background: $colorGold;
	}
	@media ($xxlUp) {
		margin-bottom: ($xl / 24) + rem;
		&__dots {
			margin-left: -(120 / 24) + rem;
		}
		&__dot {
			margin-left: (120 / 24) + rem;
		}
	}
}
