.b-tabs {
	margin-bottom: 80px;
	&__list {
		@extend %reset-ul;
		position: relative;
		z-index: 10;
		display: none;
		justify-content: center;
		align-items: center;
		margin-bottom: 60px;
	}
	&__item {
		@extend %reset-ul-li;
	}
	&__link {
		display: block;
		padding: 0 14px;
		color: $colorGrey;
		text-transform: uppercase;
		text-decoration: none;
	}
	&__fragment {
		width: percentage(6/8);
		margin-right: auto;
		margin-left: auto;
		padding: 0;
	}
	&__sublink {
		position: relative;
		display: block;
		padding: 16px 0;
		color: $colorGrey;
		font-weight: bold;
		font-size: 18px;
		text-transform: uppercase;
		text-decoration: none;
		transition: color $t;
		&::before,
		&::after {
			content: '';
			position: absolute;
			background: currentColor;
		}
		&::before {
			top: 50%;
			right: 0;
			width: 10px;
			height: 2px;
			margin-top: -1px;
		}
		&::after {
			top: 50%;
			right: 4px;
			width: 2px;
			height: 10px;
			margin-top: -5px;
			transition: opacity $t;
		}
	}

	// STATES
	&__link.is-active,
	&__fragment.is-active &__sublink {
		color: $colorBlack;
	}
	&__fragment.is-active &__sublink::after {
		opacity: 0;
	}
	@media ($lgDown) {
		&__fragment {
			border-top: 1px solid $colorBlack;
			&:last-child {
				border-bottom: 1px solid $colorBlack;
			}
		}
		&__content {
			display: none;
			padding: 20px 0 30px;
		}

		//STATES
		&__fragment.is-active &__content {
			display: block;
		}
	}
	@media ($lgUp) {
		&__list {
			display: flex;
		}
		&__fragment {
			position: absolute;
			top: 0;
			left: -5000px;
			width: 100%;
		}

		// STATES
		&__fragment.is-active {
			position: static;
			top: auto;
			left: auto;
		}
	}
	@media ($xlUp) {
		&__link {
			padding: 0 (31 / 24) + rem;
		}
	}
	@media ($xxlUp) {
		margin-bottom: (($xl + $xs) / 24) + rem;
		&__list {
			margin-bottom: (($sm + $md) / 24) + rem;
			font-size: (30 / 24) + rem;
		}
	}
}
