.b-tabs-brands {
	&__list {
		@extend %reset-ul;
		position: relative;
		z-index: 10;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 0;
	}
	&__item {
		@extend %reset-ul-li;
	}
	&__link {
		display: block;
		padding: 0 15px;
		color: #716f6c;
		text-transform: uppercase;
		text-decoration: none;
	}
	&__item:first-child &__link {
		padding-left: 0;
	}
	&__item:last-child &__link {
		padding-right: 0;
	}

	// STATES
	&__link.is-active {
		color: $colorWhite;
	}
	@media ($xlUp) {
		&__link {
			padding: 0 31px;
		}
	}
	@media ($xxlUp) {
		&__list {
			font-size: (30 / 24) + rem;
		}
	}
}
