<!DOCTYPE html>
<html lang="cs" class="no-js is-preloading">
	<head>
		<meta charset="utf-8">
		<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

		<meta name="twitter:card" content="summary">
		<meta name="twitter:title" content="{{ pageTitle }} | Alpi">
		<meta name="twitter:description" content="">
		<meta name="twitter:image" content="http://www.example.com/image.jpg">

		<meta property="og:title" content="{{ pageTitle }} | Alpi">
		<meta property="og:description" content="">
		<meta property="og:image" content="http://www.example.com/image.jpg">
		<meta property="og:site_name" content="Alpi">
		<meta property="og:url" content="http://www.example.com/">

		<title>{{ pageTitle }} | Alpi</title>

		<link rel="stylesheet" href="{{ assets.styles }}style.css">
		<link rel="stylesheet" href="{{ assets.styles }}print.css" media="print">

		{% set scripts = [
			'https://cdn.polyfill.io/v3/polyfill.min.js?features=default,Array.prototype.includes,Object.values,Array.prototype.find,AbortController,fetch',
			assets.scripts ~ 'app.js'
		] %}

		{% for script in scripts %}
		<link rel="preload" as="script" href="{{script}}">
		{% endfor %}

		<link rel="shortcut icon" href="{{ assets.images }}favicon.ico">

		<script>
			(function () {
				var className = document.documentElement.className;
				className = className.replace('no-js', 'js');

				(function() {
					var mediaHover = window.matchMedia('(hover: none), (pointer: coarse), (pointer: none)');
					mediaHover.addListener(function(media) {
						document.documentElement.classList[media.matches ? 'add' : 'remove']('no-hoverevents');
						document.documentElement.classList[!media.matches ? 'add' : 'remove']('hoverevents');
					});
					className += (mediaHover.matches ? ' no-hoverevents' : ' hoverevents');
				})();

				var supportsCover = 'CSS' in window && typeof CSS.supports === 'function' && CSS.supports('object-fit: cover');
				className += (supportsCover ? ' ' : ' no-') + 'objectfit';
				var supportsMixBlend = 'CSS' in window && typeof CSS.supports === 'function' && CSS.supports('mix-blend-mode: difference');
				className += (supportsCover ? ' ' : ' no-') + 'mixblendmode';

				// fix iOS zoom issue: https://docs.google.com/document/d/1KclJmXyuuErcvit-kwCC6K2J7dClRef43oyGVCqWxFE/edit#heading=h.sgbqg5nzhvu9
				var ua = navigator.userAgent.toLowerCase();
				var isIOS = /ipad|iphone|ipod/.test(ua) && !window.MSStream;
				var isAndroid = ua.indexOf('android') > - 1;

				if(isIOS) className += ' is-ios';
				if(isAndroid) className += ' is-android';


				if (isIOS === true) {
					var viewportTag = document.querySelector("meta[name=viewport]");
					viewportTag.setAttribute("content", "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no");
				}

				document.documentElement.className = className;
			}());
		</script>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-GJJ96P2YH8"></script>
		<script>
		 window.dataLayer = window.dataLayer || [];
		 function gtag(){dataLayer.push(arguments);}
		 gtag('js', new Date());
		 gtag('config', 'G-GJJ96P2YH8');
		</script>
	</head>
	<body>
		<header class="header {% if isSecondary %}<?php if (!$param_brand): ?>header--secondary<?php endif ?>{% endif %}">
			<div class="header__inner">


				<p class="header__logo">
					{% if isHomepage is defined %}
					<a>
					{% else %}
					<a href="/">
					{% endif %}
						<svg
							width="136" height="75"
							xmlns:xlink="http://www.w3.org/1999/xlink"
						>
							<title>Alpi collections</title>
							<use
								xlink:href="{{ assets.images ~ ('logo.svg#logo') }}"
								width="100%"
								height="100%"
								focusable="false"
							></use>
						</svg>
					</a>
				</p>

				<div class="header__menu">
					<a href="#" class="header__link">Menu</a>
				</div>
			</div>

			{% include '@components/layout/navigation.twig' %}
		</header>

			<div class="page">
				{% block content %}{% endblock %}
			</div>

			<div class="preloader-holder">
				<div class="preloader">
					<div class="preloader__wrap">
						<div class="preloader__item"></div>
					</div>
				</div>
			</div>

			<div class="m-socials">
				<ul class="m-socials__list">
					<li class="m-socials__item">
						<a href="<?= $global_settings['facebook'] ?>" class="m-socials__link">Facebook</a>
					</li>
					<li class="m-socials__item">
						<a href="<?= $global_settings['instagram'] ?>" class="m-socials__link">Instagram</a>
					</li>
					<li class="m-socials__item">
						<a href="<?= $global_settings['youtube'] ?>" class="m-socials__link">Youtube</a>
					</li>
				</ul>
			</div>

			{% for script in scripts %}
				<script src="{{script}}"></script>
			{% endfor %}
			<script>
				App.run({})
			</script>

	</body>
</html>
