.m-main {
	margin-bottom: 40px;
	&__list {
		@extend %reset-ul;
	}
	&__item {
		@extend %reset-ul-li;
		opacity: 0;
		transform: translateX(100px);
		transition: transform 0.01s easeOutCubic 0.5s, opacity 0.01s linear 0.5s;
	}
	&__link {
		display: block;
		flex: 1 0 auto;
		padding: 12px 0;
		font-weight: 300;
		font-size: 23px;
		text-transform: uppercase;
		text-decoration: none;
	}
	&__arrow {
		margin: 0;
		padding: 0 0 0 30px;
		border: 0;
		background-color: transparent;
		outline: none;
		.icon-svg--arrow {
			width: 13px;
			transform: rotate(180deg);
		}
	}
	&__submenu {
		display: none;
	}
	&__back {
		margin-bottom: 50px;
	}
	&__back-link {
		position: relative;
		margin: 0;
		padding: 0 0 0 30px;
		border: 0;
		background-color: transparent;
		color: $colorWhite;
		outline: none;
		font-weight: 700;
		font-size: 12px;
		text-transform: uppercase;
		.icon-svg--arrow {
			position: absolute;
			top: 50%;
			left: 0;
			width: 13px;
			transform: translateY(-50%);
		}
	}

	// MODIFICATION
	&__item--has-submenu {
		display: flex;
		justify-content: space-between;
	}

	// STATES
	&__link.is-active {
		color: $colorWhite;
		font-weight: 700;
		font-style: italic;
	}
	.menu-open &__item {
		opacity: 1;
		transform: translateX(0);
		transition-delay: 0s;
		transition-duration: 0.9s;
	}
	.menu-open &__item:nth-child(1) {
		transition-delay: 0.1s;
	}
	.menu-open &__item:nth-child(2) {
		transition-delay: 0.15s;
	}
	.menu-open &__item:nth-child(3) {
		transition-delay: 0.2s;
	}
	.menu-open &__item:nth-child(4) {
		transition-delay: 0.25s;
	}
	.menu-open &__item:nth-child(5) {
		transition-delay: 0.3s;
	}
	.menu-open &__item:nth-child(6) {
		transition-delay: 0.35s;
	}

	// HOVERs
	.hoverevents &__link[href]:hover {
		color: $colorWhite;
	}

	// MEDIA QUERIES
	@media ($mdUp) {
		&__arrow {
			display: none;
		}
		&__item {
			margin: 0 0 (75 / 24) + rem;
		}
		&__link {
			padding: 0;
		}
	}
	@media ($xxlUp) {
		&__link {
			font-size: (60 / 24) + rem;
		}
	}
}
