.m-socials {
	display: none;
	text-transform: uppercase;
	&__list {
		@extend %reset-ul;
		display: flex;
		align-items: center;
		margin-left: -10px;
	}
	&__item {
		@extend %reset-ul-li;
	}
	&__link {
		display: block;
		padding: 10px;
		font-weight: 400;
		text-decoration: none;
	}

	// VARIANTS
	&--header {
		display: block;
		margin-bottom: 25px;
		font-size: 12px;
	}

	// HOVERS
	.hoverevents &--header &__link[href]:hover {
		color: $colorWhite;
	}

	// MEDIA QUERIES
	@media ($xxlUp) {
		position: fixed;
		bottom: (150 / 24) + rem;
		left: (48 / 24) + rem;
		z-index: 10;
		display: block;
		font-size: (20 / 24) + rem;
		transform: rotate(180deg);
		transition: transform 0.9s easeOutCubic;
		.mixblendmode & {
			mix-blend-mode: difference;
		}
		&__list {
			margin: 0;
			writing-mode: vertical-lr;
		}
		&__link {
			.mixblendmode & {
				color: $colorWhite;
			}
		}

		// VARIANTS
		&--header {
			display: none;
		}

		// STATES
		.menu-open & {
			transform: translateX((800 / 24 * -1rem)) rotate(180deg);
		}
	}
}
