/* montserrat-300 - latin-ext_latin */
@font-face {
	font-family: Montserrat;
	font-weight: 300;
	font-style: normal;
	src: url($fontsPath+'montserrat-v14-latin-ext_latin-300.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url($fontsPath+'montserrat-v14-latin-ext_latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	font-display: swap;
}
/* montserrat-regular - latin-ext_latin */
@font-face {
	font-family: Montserrat;
	font-weight: 400;
	font-style: normal;
	src: url($fontsPath+'montserrat-v14-latin-ext_latin-regular.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url($fontsPath+'montserrat-v14-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	font-display: swap;
}
/* montserrat-700 - latin-ext_latin */
@font-face {
	font-family: Montserrat;
	font-weight: 700;
	font-style: normal;
	src: url($fontsPath+'montserrat-v14-latin-ext_latin-700.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url($fontsPath+'montserrat-v14-latin-ext_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	font-display: swap;
}
