.preloader-holder {
	position: fixed;
	top: 0;
	left: 0%;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background: rgba($colorWhite, 0.85);
	opacity: 0;
	transform: translateZ(0);
	transition: opacity 0.75s;
	pointer-events: none;
	.js.is-preloading & {
		opacity: 1;
	}
}

.preloader {
	width: 260px;
	height: 142px;
	overflow: hidden;
	opacity: 0;
	transition: opacity 0.75s;
	&__wrap {
		position: relative;
		width: 100%;
		height: 100%;
		background: $colorBlack;
		mask-image: url('../../dist/img/logo.svg');
		mask-repeat: no-repeat;
		mask-position: center;
	}
	&__item {
		width: 100%;
		height: 100%;
		background: $colorGreyDk;
		animation: preloader 4.2s infinite;
		animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
		animation-fill-mode: both;
		animation-play-state: paused;
	}
	.js.is-preloading & {
		opacity: 1;
	}
	.js.is-preloading &__item {
		animation-play-state: running;
	}
}

@keyframes preloader {
	0%,
	100% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(100%);
	}
}
