.slider {
	&__counter {
		position: absolute;
		right: calc(100vw / 2880 * 64);
		bottom: calc(100vw / 2880 * 67);
		z-index: 5;
		color: #ffffff;
		font-weight: bold;
	}
	&__timer {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: calc(100vw / 2880 * 18);
		background: $colorGold;
		transform: scaleX(0);
		transform-origin: 0 0;
		&.is-animating {
			animation: timer 5s linear both;
			animation-play-state: paused;
		}
		&.is-playing {
			animation-play-state: running;
		}
	}
	@media ($lgDown) {
		&__counter {
			font-size: 13px;
		}
	}
}

@keyframes timer {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1);
	}
}

.l-carousel {
	position: relative;
	display: flex;
	overflow: hidden;
	user-select: none;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
	> [data-ref='Slider.slide'] {
		flex: 0 0 auto;
		width: 100%;
	}
	.no-js & {
		overflow-x: scroll;
	}
	&[data-keen-slider-moves] * {
		pointer-events: none;
	}
	&[data-type='fade'] > [data-ref='Slider.slide'] + [data-ref='Slider.slide'] {
		margin-left: -100%;
		opacity: 0;
	}
}
