<div class="grid">
	<?php if ($param_type): ?>
	<?php else: ?>
		<div class="grid__cell size--14-18 push--2-18 size--8-18@md push--5-18@md size--6-18@lg push--6-18@lg">
			<div class="b-annot-products" data-parallax-text>
				<h1><?= $page['headline'] ?></h1>
				<?= $page['content'] ?>
			</div>
		</div>
	<?php endif; ?>


	{# <pre>
		<?php
			print_r($types);
		?>
	</pre> #}
	<?php if ($param_type): ?>
		<div class="grid__cell size--14-18 push--2-18 size--12-18@xl push--3-18@xl u-hide u-show@lg">
			<div class="b-filter" data-parallax-text>
				<h2 class="u-vhide">Filter</h2>
				<p class="b-filter__all">
					<a <?php if ($param_type): ?>href="?<?= ($param_brand ? ('brand='. $param_brand) : '') ?>"<?php endif; ?> class="<?php if ($param_type): ?> is-active<?php endif; ?>">Zpět na všechny produkty</a>
				</p>
			</div>
		</div>
	<?php else: ?>
		<?php if (count($filtered_types) > 1) {?>
		<div class="grid__cell size--14-18 push--2-18 size--12-18@xl push--3-18@xl u-hide u-show@lg">
			<div class="b-filter" data-parallax-text>
				<h2 class="u-vhide">Filter</h2>
				<p class="b-filter__all">
					<a <?php if ($param_type): ?>href="?<?= ($param_brand ? ('brand='. $param_brand) : '') ?>"<?php endif; ?> class="<?php if ($param_type): ?> is-active<?php endif; ?>">Zpět na všechny produkty</a>
				</p>
				<ul class="b-filter__list">
					<?php foreach ($types as $key => $type) {?>

						<?php if (isset($filtered_types[$type])): ?>
						<?php
							$iconPlaceholder = '{% include '@components/core/icon-svg/icon-svg.twig' with {
									props: {
										name: 'name'
								}
							} %}';

							$value =  str_replace(' ', '-', strtolower(trim($type)));
							$icon = str_replace('-name', '-'. $value, $iconPlaceholder);
						?>
						<li class="b-filter__item">
							<a href="?<?= ($param_brand ? ('brand='. $param_brand . '&') : '') . 'type='. $value ?>" class="b-filter__link <?php if ($value == $param_type): ?> is-active<?php endif; ?>">
								<span class="b-filter__icon">
									<?=  $icon ?>
								</span>
								<?= __($value) ?>
							</a>
						</li>
						<?php endif; ?>
					<?php }; ?>
				</ul>
			</div>
		</div>
		<?php }; ?>
	<?php endif; ?>

	<?php
		$slice = array_slice($filtered_products, 0, $param_page * $items_per_page + 1);
		$index = 0;
	?>
	<?php if (count($slice) > 0) {?>
		<div class="grid__cell size--14-18 push--2-18">
			<section class="c-products">
				<h2 class="u-vhide">Produkty</h2>
				<div class="c-products__list" data-loadmore-list>
					<?php foreach ($slice as $key => $product) {

						$index++;

						if ($index > $param_page * $items_per_page) {
							echo '</div>';
							break;
						}

						if ($index != 1 && $index % $items_per_page == 1) {
							echo '</div><div class="c-products__list" data-loadmore-list>';
						}

						$product = $product['page'];
					?>
						<div class="c-products__item" data-parallax-text>
							<article class="b-product">
								<?php createImage($product['product_images'][0]) ?>
								<h3 class="b-product__title">
									<a href="/produkt<?= $key ?>" class="b-product__link link-mask" data-page-transition="product">
										<?= $product['name'] ?>
									</a>
								</h3>
							</article>
						</div>
					<?php }; ?>

			</section>
		</div>


		<?php if (count($slice) > $param_page * $items_per_page): ?>
		<div class="grid__cell size--14-18 push--2-18 push--10-18@md size--6-18@md size--5-18@xl push--11-18@xl" data-loadmore-button>
			<p class="b-btn-products" data-parallax-text>
				<a href="?<?= ($param_brand ? ('brand='. $param_brand . '&') : '') . ($param_type ? ('type='. $param_type . '&') : '') . 'page='. ($param_page + 1) ?>" class="btn btn--width  btn--loader" data-page-transition="loadMore">
					<span class="btn__text">
						<span class="btn__loading">
							Zobrazit více
							<?php if ($param_type): ?>
							<?= __('load_more_'.$param_type) ?>
							<?php else: ?>
							produktů
							<?php endif; ?>
						</span>
					</span>
				</a>
			</p>
		</div>
		<?php endif; ?>
	<?php } else { ?>
		<div class="grid__cell size--14-18 push--2-18">
			<section class="c-products">
				<h3 data-parallax-text>
					Žádné produkty.
				</h3>
			</section>
		</div>
	<?php }; ?>

	<div class="grid__cell grid__cell--eq size--14-18 size--6-18@md size--7-18@xxl push--2-18">
		<div class="b-cta-products" data-parallax-text>
			<p class="b-cta-products__flag flag">
				Kontakt
			</p>
			<?php if ($global_settings['showroom_cta']['text']): ?>
			<h2 class="b-cta-products__title">
				<?= $global_settings['showroom_cta']['text'] ?>
			</h2>
			<?php endif ?>
			<p class="b-cta-products__btn">
				<a href="<?= url($global_settings['showroom_cta']['page']) ?>" class="btn btn--width">
					<span class="btn__text">
						<?= $global_settings['showroom_cta']['button'] ?>
					</span>
				</a>
			</p>
		</div>
	</div>

	<div class="grid__cell grid__cell--eq size--14-18 size--6-18@md size--7-18@xxl push--2-18">
		<div class="b-cta-products" data-parallax-text>
			<p class="b-cta-products__flag flag">
				Newsletter
			</p>
			<?php if ($global_settings['subscribe_cta']['text']): ?>
			<h2 class="b-cta-products__title">
				<?= $global_settings['subscribe_cta']['text'] ?>
			</h2>
			<?php endif ?>
			<?php if ($global_settings['subscribe_cta']['button']): ?>
			<p class="b-cta-products__btn">
				<a href="#" class="btn btn--width">
					<span class="btn__text">
						<?= $global_settings['subscribe_cta']['button'] ?>
					</span>
				</a>
			</p>
			<?php endif ?>
		</div>
	</div>
</div>
