/* stylelint-disable declaration-no-important */
// @import 'base/variables';
// @import 'base/mixins';
// @import 'base/extends';

// Setting margins
@page {
	margin: 2cm;
}

html,
body {
	width: 100%;
	background: none !important;
}
* {
	background: none !important; // optional
	color: #000000 !important; // optional: convert everything to BW, save print colors
	text-shadow: none !important;
	box-shadow: none !important;
	-webkit-print-color-adjust: exact;
	/* Images, vectors and such */
	// filter: gray(); // optional: convert everything to BW, save print colors
	// filter: grayscale(100%); // optional: convert everything to BW, save print colors
}
a {
	text-decoration: underline !important; // optional
}

// print URL next to the link. Optional
a[href^='http']::after {
	content: ' (' attr(href) ')';
}
svg {
	fill: #000000 !important;
}
img {
	max-width: 100%;
	height: auto;
}

// Defining all page breaks
a,
table,
pre,
blockquote {
	page-break-inside: avoid;
}
h1,
h2,
h3,
h4,
h5,
h6,
img,
svg,
figure {
	page-break-after: avoid;
	page-break-inside: avoid;
}
ul,
ol,
dl {
	page-break-before: avoid;
}

// Hide redundants
nav,
form,
iframe,
.u-no-print, // Util class for clients
.btn,
.header__link,
.slider__counter {
	display: none;
}

.header,
.header__inner {
	position: static;
}
.js [data-parallax-text] {
	opacity: 1 !important;
}
.b-intro-hp {
	min-height: 0;
	padding: 100pt 0 50pt;
	.b-media {
		display: none;
	}
	.slider {
		position: static;
	}
}
.b-intro-hp__content {
	position: static;
	&::before {
		display: none;
	}
}
