.c-brands {
	margin-bottom: 20px;
	&__list {
		margin: 0 0 -40px -40px;
	}
	&__item {
		border-width: 0 0 40px 40px;
	}
	@media ($mdUp) {
		&__list {
			display: flex;
			flex-wrap: wrap;
		}
		&__item {
			flex: 0 0 auto;
			width: 50%;
		}
	}
}
