.c-products {
	margin-bottom: 80px;
	&__list:last-child {
		margin-bottom: -40px;
	}
	&__item {
		margin-bottom: 40px;
		text-align: center;
	}
	@media ($mdUp) {
		&__list {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		&__item {
			flex: 0 0 auto;
			width: percentage(6/14);
		}
	}
	@media ($xxlUp) {
		margin-bottom: (($lg + $md) / 24) + rem;
		&__list:last-child {
			margin-bottom: -(($xl + $md + $xs) / 24) + rem;
		}
		&__item {
			margin-bottom: (($xl + $md + $xs) / 24) + rem;
		}
	}
}
