<div class="navigation">
	<div class="navigation__inner">
		<div class="navigation__holder">
			<div class="navigation__wrap navigation__wrap--depth-1">
				<div class="navigation__header">
					<p class="navigation__logo">
						<a href="./">
							<img src="{{ assets.images }}logo-brand.svg" alt="Alpi collections" width="55">
						</a>
					</p>
					<p>
						<a href="#" class="navigation__close">
							Zavřít
						</a>
					</p>
				</div>
				<?php if (count($global_settings['menu']) > 0): ?>
				<nav id="menu-main" class="navigation__menu m-main">
					<ul class="m-main__list">
						<?php foreach ($global_settings['menu'] as $key => $item): ?>
						<li class="m-main__item <?= ($item['create_level_2_brands'] || $item['create_level_2_types']) ? 'm-main__item--has-submenu' : '' ?>">
							<a href="<?= url($item['link_to']) ?>" class="m-main__link <?= ($_SERVER['REQUEST_URI'] == url($item['link_to'])) ? 'is-active' : '' ?>">
								<?= $item['label'] ?>
							</a>
							<?php if ($item['create_level_2_brands'] && count($brandsOrder) > 0): ?>
								<button type="button" class="m-main__arrow" data-mobile-submenu-toggle="">
									{% include '@components/core/icon-svg/icon-svg.twig' with {
										props: {
											name: 'arrow'
										}
									} %}
									<span class="u-vhide">
										Show <?= $item['label'] ?>
									</span>
								</button>
								<div class="m-main__submenu" data-mobile-submenu="2">
									<p class="m-main__back">
										<button type="button" class="m-main__back-link" data-mobile-submenu-back="">
											{% include '@components/core/icon-svg/icon-svg.twig' with {
												props: {
													name: 'arrow'
												}
											} %}
											Back
										</button>
									</p>
									<ul class="m-main__list">
										<?php foreach ($brandsOrder as $key => $value): ?>
										<?php $subitem = $brandsByPath[$value]; ?>
										<li class="m-main__item m-main__item--highlight">
											<a href="<?= url($item['link_to']) ?>?brand=<?= substr($subitem['key'], 1)  ?>#detail" class="m-main__link <?= ($param_brand == substr($subitem['key'], 1) ) ? 'is-active' : '' ?>">
												<?= $subitem['name'] ?>
											</a>
										</li>
										<?php endforeach ?>
									</ul>
								</div>

							<?php elseif ($item['create_level_2_types'] && count($filtered_types) > 1): ?>
								<button type="button" class="m-main__arrow" data-mobile-submenu-toggle="">
									{% include '@components/core/icon-svg/icon-svg.twig' with {
										props: {
											name: 'arrow'
										}
									} %}
									<span class="u-vhide">
										Show <?= $item['label'] ?>
									</span>
								</button>
								<div class="m-main__submenu" data-mobile-submenu="2">
									<p class="m-main__back">
										<button type="button" class="m-main__back-link" data-mobile-submenu-back="">
											{% include '@components/core/icon-svg/icon-svg.twig' with {
												props: {
													name: 'arrow'
												}
											} %}
											Back
										</button>
									</p>
									<ul class="m-main__list">
										<?php foreach ($filtered_types as $key => $type): ?>
										<?php
											$value =  str_replace(' ', '-', strtolower(trim($type)));
										?>
										<li class="m-main__item m-main__item--highlight">
											<a href="<?= url($item['link_to']) ?>?type=<?= $value  ?>" class="m-main__link <?php if ($value == $param_type): ?> is-active<?php endif; ?>">
												<?= $type ?>
											</a>
										</li>
										<?php endforeach ?>
									</ul>
								</div>
							<?php endif ?>
						</li>
						<?php endforeach ?>
					</ul>
				</nav>
				<?php endif ?>

				<div class="navigation__socials m-socials m-socials--header">
					<ul class="m-socials__list">
						<li class="m-socials__item">
							<a href="<?= $global_settings['facebook'] ?>" class="m-socials__link">Facebook</a>
						</li>
						<li class="m-socials__item">
							<a href="<?= $global_settings['instagram'] ?>" class="m-socials__link">Instagram</a>
						</li>
						<li class="m-socials__item">
							<a href="<?= $global_settings['youtube'] ?>" class="m-socials__link">Youtube</a>
						</li>
					</ul>
				</div>

				<p class="navigation__subscribe">
					<a href="#" class="navigation__link">
						Přihlaste se k odběru novinek
					</a>
				</p>
			</div>
			<div class="navigation__wrap navigation__wrap--depth-2">
				{# depth 2 #}
			</div>
		</div>
	</div>
</div>
