%inp {
	display: block;
	width: 100%;
	padding: 8px 15px;
	border: 1px solid $colorBd;
	border-radius: 0;
	background-color: $colorWhite;
	color: $colorText;
	font-size: 1rem;
	line-height: 20px;
	transition: background-color $t, border-color $t;
	appearance: none;

	// STATEs
	&:disabled {
		background-color: $colorBg;
	}
	&:focus {
		border-color: $colorText;
	}
	.has-error & {
		border-color: $colorRed;
	}
}
