.btn {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	border: 0;
	background: none;
	text-decoration: none;
	cursor: pointer;
	&__text {
		position: relative;
		display: block;
		padding: 8px 20px;
		border: 1px solid $colorBlack;
		background-color: transparent;
		color: $colorText;
		font-weight: bold;
		font-size: 14px;
		line-height: 22px;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		transition: background-color $t, border-color $t, color $t;
	}

	// VARIANTs
	&--width {
		display: block;
		width: 100%;
	}
	&--white &__text {
		border-color: $colorWhite;
		color: $colorWhite;
	}
	&--loader &__loading {
		transition: opacity $t;
	}
	&--loader &__text::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		width: 24px;
		height: 24px;
		margin: -12px 0 0 -12px;
		border: 2px solid;
		border-radius: 50%;
		border-top-color: transparent;
		opacity: 0;
		transition: opacity $t, color t;
		animation-play-state: paused;
	}

	// STATEs
	&--loader.is-loading {
		pointer-events: none;
	}
	&--loader.is-loading &__loading {
		opacity: 0;
	}
	&--loader.is-loading &__text::before {
		opacity: 1;
		animation: animation-rotate 0.8s infinite linear;
		animation-play-state: running;
	}
	&:disabled,
	&.is-disabled {
		opacity: 0.5;
		pointer-events: none;
	}

	.icon-svg--refresh {
		width: 20px;
	}

	// HOVERs
	.hoverevents &:hover &__text {
		border-color: $colorHover;
		background-color: transparent;
		color: $colorHover;
	}

	@media ($mdUp) {
		&__text {
			padding: 14px 20px;
		}
	}

	@media ($xxlUp) {
		&__text {
			padding: 1.6em 4em;
			border: 2px solid $colorBlack;
			font-size: (20 / 24) + rem;
		}
	}
}

@keyframes animation-rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
	}
}
